:root{
    --main-background-color: #3b4252;
    --focus-background-color: #2e3440;
    --light-background-color: #4c566a;
    --main-text-color: #e5e9f0;
    --unfocused-text-color: #d8dee9;
    --clear-text-color: #eceff4;
}

body {
    background: var(--light-background-color);
	color: var(--unfocused-text-color);
    margin: 0px;
}
div {
    float: inherit;
}
h1{
    color: var(--main-text-color);
    text-align: center;
}

.principal{
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}

.contenu{
    text-align: justify;
	width: 100vw;
	height: 200px;
    font-family: Roboto;
}
.corps{
	padding:20px;
}
.ligne{
    display: table;
    table-layout: fixed;
	padding: 20px 20px 20px 20px;
	width: 100vw;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}
.colomne{
    display: table-cell;
}
.sticky{
	position: fixed;
}

.sticky + .contenu{
	padding: 120px;
}

.C{
    padding:20px;
    display:inline-block;
    min-width: 30px;
}

p{
    margin:0px;
}

.contact{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.prez{
    
    background-color: #ECEFF4;
    width: 60%;
    height:100px;
    text-align:center;
    margin:0 auto;
    border-radius:  20px;
}