:root{
    --main-background-color: #3b4252;
    --focus-background-color: #2e3440;
    --light-background-color: #4c566a;
    --main-text-color: #e5e9f0;
    --unfocused-text-color: #d8dee9;
    --clear-text-color: #eceff4;
}
body {
    background: var(--light-background-color);
    color: var(--unfocused-text-color);
    margin: 0px;
}
div {
    float: inherit;
}
h1 {
    color: var(--main-text-color);
    text-align: center;
    text-decoration: underline;
}
img,iframe{
    border-radius: 15px;
    padding:5px;
}
p {
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.principal {
  display: flex;
  flex-direction: row;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  position: fixed;
  top: 0;
  width: 100%;
}

.boutons{
    height: 15%;
    margin-top: 50px;
    margin-right: 5px;
    color: var(--main-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--main-text-color);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.contenu {
    text-align: justify;
	  width: 100vw;
	  height: 200px;
    margin-top: 120px;
    font-family: Roboto;
}
.corps {
    padding:20px;
    padding-bottom: 60px;
}

.campus{
   border-radius:15px;
   display:flex;
   padding: 20px;
   background-color: var(--main-background-color);  
   flex-direction: row;
}

.campus_text{
	margin-left:20px;
	width:50vw;  
    font-size: 20px;
    line-height: 1.5;
    margin-right: 20px;
}
.contact{
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.ligne {
    display: table;
    table-layout: fixed;
    padding: 20px 20px 20px 20px;
    width: 100vw;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}
.colomne{
    display: table-cell;
}

.C{
    padding:20px;
    display:inline-block;
    min-width: 30px;
}

.prez{
    background-color: var(--clear-text-color);
    width: 60%;
    height: auto;
    text-align:center;
    margin: 0 auto;
    padding: 8px;
    border-radius:  20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.preztxt{
    color: var(--focus-background-color);
    text-align:left;
    margin:10px;
    margin-top:0;
}
.logo1{
   margin: 5px;
   margin-right: 20px;
}
.listeinfo{
    line-height: 2;
}
a{
    font-family: 'Roboto', sans-serif;
}
.active{
    border-radius: 7px;
    border: 2px solid #009ed8;
    text-shadow:0 0 0.125em currentColor,0 0 0.25em blue;
    box-shadow: 0 0 0.125em currentColor;
}
.formation{
    padding: 20px;
	font-family:Roboto;
	font-size:15px;
	border-collapse:collapse;
}
.Form{
    background-color: var(--main-background-color);
    border-radius: 15px;
    padding: 5px;
    margin-top:5px;
}
td , th{
    border: 5px solid var(--light-background-color);
	padding:5px;
	padding-top:9px;
	text-align:center;
}

#image_index{
    padding:15px 0 15px 0;
    :q
    :q
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
