:root{
    --main-background-color: #3b4252;
    --focus-background-color: #2e3440;
    --light-background-color: #4c566a;
    --main-text-color: #e5e9f0;
    --unfocused-text-color: #d8dee9;
    --clear-text-color: #eceff4;
}

body {
    background: var(--light-background-color);
	color: var(--unfocused-text-color);
    margin: 0px;
}

h1{
    color: var(--main-text-color);
    text-align: center;
}

.principal{
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}

.contenu{
	text-align: justify;
	width: 100vw;
	height: 200px; 
}
.corps{
	padding:20px;
}
.contact{
	margin-top: 15px;
	padding: 20px 20px 20px 20px;
	width: 100vw;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.sticky{
	position: fixed;
}

.sticky + .contenu{
	padding: 120px;
}

.table{
	border: none;
	border-collapse: collapse;
}